[submodule "plugins/org.apache.cordova.plugins.inappbrowser"]
	path = plugins/org.apache.cordova.plugins.inappbrowser
	url = https://github.com/cemerson/cordova-inappbrowser-ce.git
[submodule "plugins/org.apache.cordova.plugins.badge"]
	path = plugins/org.apache.cordova.plugins.badge
	url = https://github.com/cemerson/cordova-badge.git
[submodule "plugins/org.apache.cordova.plugins.powermanagement"]
	path = plugins/org.apache.cordova.plugins.powermanagement
	url = https://github.com/cemerson/cordova-powermanagement.git
[submodule "plugins/org.apache.cordova.plugins.securedeviceidentifier"]
	path = plugins/org.apache.cordova.plugins.securedeviceidentifier
	url = https://github.com/cemerson/cordova-securedeviceidentifier.git
[submodule "www/js/common"]
	path = www/js/common
	url = https://github.com/cemerson/common.git
[submodule "plugins/org.apache.cordova.console"]
	path = plugins/org.apache.cordova.console
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-console.git
[submodule "plugins/org.apache.cordova.splashscreen"]
	path = plugins/org.apache.cordova.splashscreen
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-splashscreen.git
[submodule "plugins/org.apache.cordova.dialogs"]
	path = plugins/org.apache.cordova.dialogs
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-dialogs.git
[submodule "plugins/org.apache.cordova.media"]
	path = plugins/org.apache.cordova.media
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-media.git
[submodule "plugins/org.apache.cordova.battery-status"]
	path = plugins/org.apache.cordova.battery-status
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-battery-status.git
[submodule "plugins/org.apache.cordova.network-information"]
	path = plugins/org.apache.cordova.network-information
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-network-information.git
[submodule "plugins/org.apache.cordova.device"]
	path = plugins/org.apache.cordova.device
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git
[submodule "artwork/app-icon-template-ce"]
	path = artwork/app-icon-template-ce
	url = https://github.com/cemerson/app-icon-template-ce.git
[submodule "www/js/cordova-mediaplayer"]
	path = www/js/cordova-mediaplayer
	url = https://github.com/cemerson/cordova-mediaplayer-core.git
