<?xml version='1.0' encoding='utf-8'?>
<widget id="com.domain.pg3boilerplate" version="2013073001" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PG3 Boilerplate</name>
    <description>
        Bare bones PhoneGap/Cordova 3.0 project with standard plugins built-in/ready to go.
    </description>
    <author email="author@domain.com" href="http://www.author-domain-name.com">
        Author Name
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <content src="index.html" />
</widget>
